<div class="c-chart-wrapper" style="height:300px;margin-top:40px;">
    <canvas class="chart" id="main-chart" height="300"></canvas>
    <script src="vendors/chart.js/js/chart.min.js"></script>
    <script src="vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
    <script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
    
    <script one=<%= results %>>
        console.log()
        let results = document.currentScript.getAttribute('one').split(',');
        Chart.defaults.pointHitDetectionRadius = 1;
        Chart.defaults.plugins.tooltip.enabled = false;
        Chart.defaults.plugins.tooltip.mode = 'index';
        Chart.defaults.plugins.tooltip.position = 'nearest';
        Chart.defaults.plugins.tooltip.external = coreui.ChartJS.customTooltips;
        Chart.defaults.defaultFontColor = '#646470';
        const mainChart = new Chart(document.getElementById('main-chart'), {
        type: 'line',
        data: {
            labels: ['1.10', '3.10', '5.10', '7.10', '9.10', '11.10', '13.10'],
            datasets: [{
            label: 'My First dataset',
            backgroundColor: coreui.Utils.hexToRgba(coreui.Utils.getStyle('--cui-info'), 10),
            borderColor: coreui.Utils.getStyle('--cui-info'),
            pointHoverBackgroundColor: '#fff',
            borderWidth: 2,
            data: [results[0], results[2], results[4], results[6], results[8], results[10], results[11]],
            fill: true
            //blue
            }
            ]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
            legend: {
                display: false
            }
            },
            scales: {
            x: {
                grid: {
                drawOnChartArea: false
                }
            },
            y: {
                ticks: {
                beginAtZero: true,
                maxTicksLimit: 5,
                stepSize: Math.ceil(250 / 5),
                max: 250
                }
            }
            },
            elements: {
            line: {
                tension: 0.4
            },
            point: {
                radius: 0,
                hitRadius: 10,
                hoverRadius: 4,
                hoverBorderWidth: 3
            }
            }
        }
        });
    </script>
  </div>